/*

Theme Name: Amanda Karoline
Theme URI: http://amandakaroline.com.br
Author: HC Desenvolvimentos
Author URI: http://hcdesenvolvimentos.com.br;
Description: Descrção do thema.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: amandakaroline
Tags: Modelo, Maquiagem, Fotos, Portfólio, Preto.

--------------------------------------------
ESTRUTURAÇÃO BASE (Palupa Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA

font-family: 'Rubik', sans-serif;
font-family: 'Hammersmith One', sans-serif;
font-family: 'Fjalla', sans-serif;

*/

*{
  margin: 0;
  padding: 0;
}

/* IMPORTAÇÃO DE FONTES*/
  @font-face {
    font-family: fjalla;
    src: url('../fonts/fjalla.otf');
    font-style: normal;
    font-weight: normal;
  }
  label {
    display: initial;
    max-width: initial;
    margin-bottom: initial;
    font-weight: initial;
  }

/* BODY */
  body{
    font-family: fjalla, sans-serif;
  }

/* TOPO */
  .topo{

  }
    .topo .logo{
      position: relative;
    }
      .topo .logo a{
        display: block;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        max-width: 295px;
      }
        .topo .logo a img{

        }

/*RODAPÉ*/
  .rodape{

  }
  footer{
    margin-top: 40px;
  }
    footer .copyright{
      background: #e5b43d;
      padding: 10px 20px;
      text-align: center;
    }
      footer .copyright p{
        color: #fff;
        text-transform: uppercase;
        font-size: 50px;
        margin: 0;
        line-height: 55px;
      }
      footer .copyright span{
        font-size: 25px;
        font-weight: 600;
        color: #000;
      }

/*COPYRIGHT*/
  .copyright{

  }

/*PG*/
  .pg{

  }
    .pg section>h6{
      font-family: fjalla, sans-serif;
      text-transform: uppercase;
      font-size: 42px;
      max-width: 1000px;
      margin: 0 auto 20px;
      color:#000;
      text-align: center;
    }
    .pg .talkTous{
      text-align: center;
    }
      .pg .talkTous p{
        text-decoration: none;
        color: #000;
        letter-spacing: initial;
        font-size: 17px;
        display: block;
        padding: 25px 0;
        position: relative;
        text-transform: uppercase;
        letter-spacing: initial;
        margin-top:40px;
      }
        .pg .talkTous p a{
          background: #000;
          padding: 18px 45px;
          color: #fff;
          margin: 0 10px;
          font-size: 14px;
        }
    #map{
      display: block;
      width: 100%;
      min-height: 100vh;
    }

/*PÁGINA INICIAL*/
  .pg-inicial{
    letter-spacing: -2px;
  }
    .pg-inicial .secao-destaque{
      position: relative;
    }
      .pg-inicial .secao-destaque .secao-destaque-logo-king-queen{
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        max-width: 752px;
        text-align: center;
        -webkit-transform: translateX(-50%, -50%);
        -ms-transform: translateX(-50%, -50%);
        -o-transform: translateX(-50%, -50%);
        transform: translate(-50%, -50%);
      }
        .pg-inicial .secao-destaque .secao-destaque-logo-king-queen img{
         max-width: 100%;
        }
      .pg-inicial .secao-destaque .secao-destaque-img-destaque{
        display: block;
        width: 100%;
        min-height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: bottom;
      }
        .pg-inicial .secao-destaque .secao-destaque-img-destaque img{
          display: none;
        }
      .pg-inicial .secao-destaque .secao-destaque-lumberjacks{
        width: 100%;
        text-align: center;
        background: url(../img/barra-destaque.png);
        height: 24px;
        background-position: center;
        background-color: #000;
        padding: 15px 0;
        background-repeat-y: no-repeat;
      }
        .pg-inicial .secao-destaque .secao-destaque-lumberjacks img{
          width: 100%;
          display: none;
          opacity: 0;

        }
    .pg-inicial .secao-movimento{
      background-color: #000;
    }
      .pg-inicial .secao-movimento .secao-movimento-descricao{
        width: 100%;
        max-width: 580px;
        margin: 0 auto;
      }
        .pg-inicial .secao-movimento .secao-movimento-descricao h1{
          font-family: fjalla, sans-serif;
          text-transform: uppercase;
          font-size: 68px;
          color: #e5b43d;
          margin: 0;
          padding: 105px 0 70px;
        }
        .pg-inicial .secao-movimento .secao-movimento-descricao p{
          font-family: fjalla;
          text-transform: uppercase;
          font-size: 34px;
          color: #fff;
          margin: 0;
          padding-bottom: 60px;
        }
          .pg-inicial .secao-movimento .secao-movimento-descricao p span{
            font-style: italic;
          }
      .pg-inicial .secao-movimento .secao-movimento-descricao-img-ilustrativa{
       
      }
        .pg-inicial .secao-movimento .secao-movimento-descricao-img-ilustrativa img{
          display: block;
          width: 100%;
        }
    .pg-inicial .secao-produtos{
      background-image: url(../img/background-produtos.png); 
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      min-height: 100vh;
      padding: 95px 0;
      background-attachment: fixed; 
    }
      .pg-inicial .secao-produtos h3{
        font-family: fjalla, sans-serif;
        text-transform: uppercase;
        font-size: 42px;
        max-width: 1000px;
        margin: 0 auto 20px;
        padding-left: 30px;
        color:#000;
      }
      .pg-inicial .secao-produtos ul{
        width: 100%;
        font-size: 0;
        max-width: 1000px;
        margin: 0 auto;
        text-align: center;
      }
        .pg-inicial .secao-produtos ul li{
          list-style: none;
          display: inline-block;
          width: 100%;
          max-width: 32%;
          text-align: center;
          margin: 18px auto;
        }
          .pg-inicial .secao-produtos ul li a{
            text-decoration: none;
            color: #000;
            
          }
            .pg-inicial .secao-produtos ul li img{
      
            }
            .pg-inicial .secao-produtos ul li h2{
              font-size: 33px;
              text-transform: uppercase;
              margin: 0;
              padding: 10px 0 0;
            }
              .pg-inicial .secao-produtos ul li h2 label{
               position: relative;
               padding-left: 17px;
               margin-left: 10px;
              }
                .pg-inicial .secao-produtos ul li h2 b::before{
                  content: "";
                  display: block;
                  width: 28px;
                  height: 26px;
                  background: url(../img/check.png);
                  left: -12px;
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                  transform: translateY(-50%);
                  -webkit-transform: translateY(-50%);
                  -moz-transform: translateY(-50%);
                  -o-transform: translateY(-50%);
                  background-position: center;
                  background-repeat: no-repeat!important;
                }
              .pg-inicial .secao-produtos ul li h2 input[type="radio"]{
                left: -10px;
                width: 24px;
                z-index: 2;
                height: 25px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                opacity: 0;
                cursor: pointer;
              }
                .pg-inicial .secao-produtos ul li h2 input[type="radio"]:checked ~ b::before{
                  background: url(../img/checked.png);
                }
            .pg-inicial .secao-produtos ul li p{
              font-size: 33px;
              text-transform: uppercase;
              margin: 0;
              padding: 5px 0 0;
              color: #e5b43d;
            }
            .pg-inicial .secao-produtos ul li button,input[type="submit"]{
              font-size: 32px;
              border: none;
              background-color: #000;
              color: #fff;
              width: 100%;
              max-width: 195px;
              text-transform: capitalize;
              padding: 2px 0;
              margin: 3px auto 0;
              outline:none;
            }
    .pg-inicial .secao-video{
      width: 100%;
      height: 100vh;
      display: block;
      position: relative;
      overflow: hidden;
    }
      .pg-inicial .secao-video iframe{
     
      }
    .pg-inicial .duvidas-frequentes {

    }
    .pg-inicial .duvidas-frequentes h6{
      padding: 60px 0 20px;
    }
      .pg-inicial .duvidas-frequentes .duvidas-frequentes-tabs{
        max-width: 673px;
        margin: 0 auto;
      }
        .pg-inicial .duvidas-frequentes .duvidas-frequentes-tabs .duvidas-frequentes-duvidas-tab{
          
        }
         .pg-inicial .duvidas-frequentes .duvidas-frequentes-tabs .duvidas-frequentes-duvidas-tab h3{
            border-bottom: solid 1px #ccc;
            margin: 0;
            position: relative;
          }
            .pg-inicial .duvidas-frequentes .duvidas-frequentes-tabs .duvidas-frequentes-duvidas-tab:last-child h3 {
              border-bottom:none;
            }
            
             
            .pg-inicial .duvidas-frequentes .duvidas-frequentes-tabs .duvidas-frequentes-duvidas-tab h3 a{
              text-decoration: none;
              color: #000;
              letter-spacing: initial;
              font-size: 17px;
              display: block;
              padding: 25px 0;
              position: relative;
            }
              .pg-inicial .duvidas-frequentes .duvidas-frequentes-tabs .duvidas-frequentes-duvidas-tab h3 a:before{
                content: "";
                display: block;
                width: 20px;
                height: 20px;
                background: url(../img/back.svg);
                -webkit-transform: rotateZ(-90deg);
                -moz-transform: rotateZ(-90deg);
                -ms-transform: rotateZ(-90deg);
                -o-transform: rotateZ(-90deg);
                transform: rotateZ(-90deg);
                position: absolute;
                right: 0;
              }
               .pg-inicial .duvidas-frequentes .duvidas-frequentes-tabs .duvidas-frequentes-duvidas-tab h3 a.openTab:before{
                  -webkit-transform: rotateZ(90deg);
                  -moz-transform: rotateZ(90deg);
                  -ms-transform: rotateZ(90deg);
                  -o-transform: rotateZ(90deg);
                  transform: rotateZ(90deg);
                }
           
          .pg-inicial .duvidas-frequentes .duvidas-frequentes-tabs .duvidas-frequentes-duvidas-tab .duvidas-frequentes-duvidas-tab-content{
              padding: 10px;
              border: solid 1px #ccc;
              border-top: none;
              display: none;
          }
            .pg-inicial .duvidas-frequentes .duvidas-frequentes-tabs .duvidas-frequentes-duvidas-tab .duvidas-frequentes-duvidas-tab-content p{
              color: #000;
              letter-spacing: initial;
              font-size: 14px;
            }

/*EXTRAS*/
.containerFull{
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

/*@MEDIA QUERY*/
  @media(max-width: 1300px){
    .pg-inicial .secao-movimento .secao-movimento-descricao {
      max-width: 485px;
    }
    .pg-inicial .secao-movimento .secao-movimento-descricao h1 {
      font-size: 60px;
      padding: 102px 0 65px;
    }
    .pg-inicial .secao-movimento .secao-movimento-descricao p {
      font-size: 30px;
      padding-bottom: 48px;
    }
  }

  @media(max-width: 1200px){

  }

  @media(max-width: 1060px){
    .pg-inicial .secao-produtos ul li button {
      font-size: 30px;
      max-width: 180px;
    }
    .pg-inicial .secao-produtos ul li .modelo label {
      font-size: 30px;
    }
    .pg-inicial .secao-produtos {
      padding: 65px 0;
    }
    .pg-inicial .duvidas-frequentes h6 {
      padding: 0px 0 20px;
    }
  }

  @media(max-width: 991px){
    .pg-inicial .secao-movimento .secao-movimento-descricao {
      max-width: 388px;
    }
    .pg-inicial .secao-movimento .secao-movimento-descricao h1 {
      font-size: 52px;
      padding: 96px 0 65px;
    }
    .pg-inicial .secao-movimento .secao-movimento-descricao p {
      font-size: 25px;
      padding-bottom: 42px;
    }
    .pg-inicial .secao-destaque .barra {
      bottom: -5px;
    }
    .pg-inicial .secao-video {
      height: initial;
    }
    .pg-inicial .duvidas-frequentes h6 {
      padding: 60px 0 20px;
    }
  }

  @media(max-width: 920px){
    .pg-inicial .secao-produtos ul li {
      max-width: 50%;
    }
    .pg-inicial .secao-movimento .secao-movimento-descricao {
      max-width: 336px;
    }
    .pg-inicial .secao-movimento .secao-movimento-descricao p {
      font-size: 23px;
      padding-bottom: 36px;
    }
    .pg-inicial .secao-movimento .secao-movimento-descricao h1 {
      font-size: 45px;
      padding: 55px 0 50px;
    }
  }

  @media(max-width: 850px){
    .pg-inicial .secao-produtos h3 {
      padding-left: 45px;
      font-size: 36px;
    }
    .pg-inicial .secao-produtos ul li img {
      max-width: 335px;
    }
  }

  @media(max-width: 767px){
    .pg-inicial .secao-movimento .secao-movimento-descricao p {
      font-size: 23px;
      padding-bottom: 53px;
    }
    .pg-inicial .secao-movimento .secao-movimento-descricao h1 {
      font-size: 44px;
      padding: 70px 0 44px;
    }
    .pg-inicial .secao-movimento .secao-movimento-descricao {
      max-width: 558px;
      padding: 0 10px;
    }
    .pg-inicial .secao-produtos h3 {
      padding-left: 24px;
    }
    .pg-inicial .duvidas-frequentes{
      padding: 0 10px;
    }
  }

  @media(max-width: 670px){
    .pg-inicial .secao-produtos ul li img {
      max-width: 276px;
    }
    .pg-inicial .secao-produtos h3 {
      font-size: 34px;
    }
    .pg-inicial .duvidas-frequentes .duvidas-frequentes-tabs .duvidas-frequentes-duvidas-tab h3 a {
      padding: 25px 24px 25px 0px;
    }
  }

  @media(max-width: 550px){
    .pg-inicial .secao-produtos ul li button {
      font-size: 32px;
      max-width: 195px;
    }
    .pg-inicial .secao-produtos ul li .modelo label {
      font-size: 35px;
    }
    .pg-inicial .secao-produtos ul li img {
      max-width: 400px;
    }
    .pg-inicial .secao-produtos h3 {
      font-size: 28px;
    }
    .pg-inicial .secao-produtos ul li {
      max-width: 100%;
    }
    .pg-inicial .secao-movimento .secao-movimento-descricao {
      max-width: 520px;
      padding: 0 10px;
    }
  }

  @media(max-width: 445px){
    .pg-inicial .secao-movimento .secao-movimento-descricao h1 {
      font-size: 36px;
      padding: 52px 0 38px;
    }
    .pg-inicial .secao-movimento .secao-movimento-descricao p {
      font-size: 20px;
      padding-bottom: 43px;
    }
    .pg-inicial .secao-produtos h3 {
      font-size: 28px;
      text-align: center;
      padding: 0;
    }
    .pg-inicial .secao-produtos ul li {
      padding: 0 10px;
    }
    .pg-inicial .secao-produtos ul li button {
      font-size: 28px;
    }
    .pg section>h6 {
      font-size: 35px;
    }
    .pg .talkTous p a {
      padding: 15px 30px;
    }
    footer .copyright p {
      font-size: 37px;
      line-height: 46px;
    }
    footer .copyright span {
      font-size: 20px;
    }
    .pg-inicial .secao-movimento .secao-movimento-descricao p {
      font-size: 20px;
    }
  }

  @media(max-width: 425px){
  
  }

  @media(max-width: 320px){
    .pg-inicial .secao-movimento .secao-movimento-descricao h1 {
      font-size: 34px;
    }
    .pg-inicial .secao-movimento .secao-movimento-descricao p {
      font-size: 18px;
    }
    .pg .talkTous p a {
      margin: 0;
    }
  }
